.home_container {
    padding: 60px;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #F0F8FF;
}

.home_container>.name>h1 {
    font-size: 12vmax;
}

.home_container>.name {
    font-size: 3vmax;
}
